<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пропускная система</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="@Url.Content("~/Scripts/sidebar/sidebar.js")"></script>
    <link href="@Url.Content("~/Content/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    
    <script>
      $( function() {
          $("input[type='datetime']").datepicker({
          	dateFormat : "dd.mm.yy",
          	monthNames : ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
          	dayNamesMin : ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
          });
      });
      
      </script>
    
</head>
<body>

    
    
    <script src="../../Scripts/jquery-ui.js"></script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<div id="wrapper">
    @{ Html.RenderAction("Index", "Infrastructure");}
    <div id="content">
        <div class="container-fluid full-height">
            @RenderBody()
        </div>
    </div>
    <div inform class="inform-animate inform-fixed inform-shadow"></div>
</div>



</body>
</html>
