<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <script>
      $( function() {
          $("input[type='datetime']").datepicker({
          	dateFormat : "dd.mm.yy",
          	monthNames : ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
          	dayNamesMin : ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
          });
      });
    </script>
    
    <title>Пропускная система</title>
    
</head>
<body>

    <div id="wrapper">
        @{ Html.RenderAction("Index", "Infrastructure");}
        <div id="content" class="content">
            <div class="container-fluid full-height">
                @RenderBody()
            </div>
        </div>
        <div inform class="inform-animate inform-fixed inform-shadow"></div>
    </div>

    

</body>
</html>
