@model PassSystem.BackOffice.Web.Models.Sidebar.LeftMenuModel
@{
   Layout = null;
}

<nav id="sidebar" class="sidebar active">
    <div class="sidebar-header" id="sidebar-header">
        <p>@Model.Title</p>
        <hr/>
    </div>
    <ul class="list-unstyled components">
        @foreach (var item in Model.MainItems)
        {
            <li class="@(item.Active ? "active" : String.Empty)">
                <a href="@item.Url">
                    <i class="@item.Class"></i><span>@item.Text</span>
                </a>
            </li>
        }
    </ul>
</nav>

